/* ============== Common styles ============== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h2,
h3 {
  color: #2e2f42;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* ============== /Common styles ============== */

/* ============== Page header styles ============== */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
}
.logo-part {
  color: #2e2f42;
}
.menu-list {
  display: none;
}
.address {
  font-style: normal;
  margin-left: auto;
  display: none;
}
.open-menu-btn {
padding: 0;
line-height: 0;
background-color: transparent;
border: none;
}
@media only screen and (min-width: 768px) {
    .logo {
        margin-right: 120px;
        padding: 24px 0;
    }
    .menu-list {
        display: flex;
        gap: 40px;
    }
    .menu-link {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      .menu-link:hover,
      .menu-link:focus {
        color: #404bbf;
      }
      .studio-lower-dash {
        position: relative;
        color: #404bbf;
      }
      .studio-lower-dash::after {
        content: "";
        display: block;
        height: 4px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        position: absolute;
        background-color: #404bbf;
        border-radius: 2px;
        left: 0;
        bottom: -1px;
      }
    .address {
        display: block;
    }
    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .address-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #434455;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
    .open-menu-btn {
        display: none;
    }
  }
  @media only screen and (min-width: 1158px) {
    .logo {
margin-right: 76px;
    }
    .address-list {
        flex-direction: row;
        gap: 40px;
    }
    .address-link {
        font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
    }
}
/* ============== /Page header styles ============== */

/* ============== Hero section styles ============== */
.hero-section {
background-color: #2e2f42;
margin-right: auto;
margin-left: auto;
max-width: 320px;
padding: 72px 0;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-mob.jpg);
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    .hero-section {
            background-image: linear-gradient(
              rgba(46, 47, 66, 0.7),
              rgba(46, 47, 66, 0.7)
            ),
            url(../images/hero/hero-mob@2x.jpg);
      }
}
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
    margin: 0 auto;
  margin-bottom: 72px;
  max-width: 216px;
}
.btn {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #ffffff;
  background: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
          ),
          url(../images/hero/hero-tab.jpg);
    }
    
    @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    .hero-section {
            background-image: linear-gradient(
              rgba(46, 47, 66, 0.7),
              rgba(46, 47, 66, 0.7)
            ),
            url(../images/hero/hero-tab@2x.jpg);
      }
}
    .hero-title {
      font-size: 56px;
      line-height: 1.07;
      margin-bottom: 36px;
      max-width: 496px;
    }
}
@media screen and (min-width: 1158px) {
  .hero-section {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
          ),
          url(../images/hero/hero-desk.jpg);
    }
    @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    .hero-section {
            background-image: linear-gradient(
              rgba(46, 47, 66, 0.7),
              rgba(46, 47, 66, 0.7)
            ),
            url(../images/hero/hero-desk@2x.jpg);
      }
}
    .hero-title {
      margin-bottom: 48px;
        }
}
/* ============== /Hero section styles ============== */

/* ============== Benefits section styles ============== */
.benefits-section {
  padding: 96px 0;
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.benefits-card-icon {
  display: none;
}
.benefits-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}
.benefits-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }
  .benefits-card-icon {
    display: none;

  }
  .benefits-list-card {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .benefits-section {
    padding: 120px 0;
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.benefits-list-card {
  width: calc((100% - 72px) / 4);
}
.benefits-card-icon {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
}
/* ============== /Benefits section styles ============== */

/* ============== Our team section styles ============== */
.team-section {
  background: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}
.team-title {
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.team-card {
  max-width: 264px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.team-card-item {
  background: #ffffff;
  border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-card-container {
  text-align: center;
  padding: 32px 0;
}
.team-list-fullname {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-icon-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.team-icon-item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  fill: #ffffff;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}
.team-icon-item:hover,
.team-icon-item:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .team-card {
    max-width: 552px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 64px;
   flex-direction: row;
  
  }
.team-card-item {
  width: calc((100% - 24px) / 2);
}
}
@media screen and (min-width: 1158px) {
  .team-card {
    max-width: 1128px;
    display: flex;
    gap: 24px;
  }
  .team-card-item {
    width: calc((100% - 3 * 24px) / 4);
}
}
/* ============== /Our team section styles ============== */

/* ============== Portfolio section styles ============== */
.portfolio-section {
  padding: 96px 0;
} 
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.project-card {
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
    margin: 0 auto;
}
.project-card-container {
  text-align: left;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.project-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.project-card-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card-item:hover,
.project-card-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-overlay-images {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.project-card-item:hover .portfolio-overlay-text,
.project-card-item:focus .portfolio-overlay-text {
  transform: translateY(0%);
} 
@media screen and (min-width: 768px) {
  .project-card {  
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
}
.project-card-item {
width: calc((100% - 24px) / 2);
}
}
@media screen and (min-width: 1158px) {
  .portfolio-section {
    padding: 120px 0;
  } 
  .project-card {
    display: flex;
    flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
  }
  .project-card-item {
    width: calc((100% - 2 * 24px) / 3);
}
}
/* ============== /Portfolio section styles ============== */

/* ============== Footer section styles ============== */
.page-footer {
  background-color: #2e2f42;
  padding: 96px 0;
}
.footer-left-container {
  margin-bottom: 72px;
}
.logo-footer {
  margin-bottom: 16px;
  display: block;
  text-align: center;
}
.logo-part-footer {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.footer-right-container {
margin-bottom: 72px;
}
.footer-right-text {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
text-align: center;
}
.footer-icon-list {
display: flex;
gap: 16px;
justify-content: center;
}
.footer-icon-item {
display: flex;
align-items: center;
justify-content: center;
border-radius: 500%;
background-color: #4d5ae5;
width: 40px;
height: 40px;
}
.footer-social-link {
content: "";
width: 100%;
height: 100%;
background-color: #4d5ae5;
align-items: center;
justify-content: center;
border: none;
border-radius: 50%;
display: flex;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
background-color: #31d0aa;
}
.svg {
fill: #f4f4fd;
}
.form-subscribe {
display: flex;
gap: 16px;
flex-direction: column;
align-items: center;
}
.form-input-subscribe {
  flex-direction: column;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
padding-left: 16px; 
border: 1px solid #fff;
border-radius: 4px;
width: 288px;
height: 40px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
background-color: transparent;
outline: transparent;
padding: 8px 16px;
color: #fff;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input-subscribe:focus {
border-color: #31d0aa;
}
.form-input-subscribe::placeholder {
color: #fff;
}
.btn-subscribe {
display: flex;
justify-content: center;
align-items: center;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background-color: #4d5ae5;
border-radius: 4px;
padding: 8px 24px;
border: none;
min-width: 165px;
height: 40px;
text-align: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-subscribe:hover,
.btn-subscribe:focus {
  background-color: #31d0aa;
}
.subscribe-icon {
display: block;
margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
  }
  .page-footer-container {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }
  .footer-left-container {
    padding-left: 108px;
    margin-bottom: 0;
  }
  .subscribe {
    padding-left: 108px;
      }
  .logo-footer {
    margin-bottom: 16px;
    display: inline-block;
    padding: 0;
  }
  .form-subscribe {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .form-input-subscribe {
    width: 264px;
  }
  .footer-right-text {
text-align: left;
}  
  }
  @media screen and (min-width: 1158px) {
    .page-footer {
      padding: 100px 0;
    }
    .page-footer-container {
      flex-wrap: nowrap;
      gap: 0;
    }
    .footer-left-container {
      padding-left: 0;
      margin-right: 120px;
      
    }
    .footer-text {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #f4f4fd;
      width: 264px;
  }
  .subscribe {
    padding-left: 80px;
      }
      .footer-right-container {
        margin-right: auto;
        }
        }
/* ============== Mobile menu styles ============== */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
}
.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
}
.mobile-menu-close-btn {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #422e2e;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
    background-color: #e7e9fc;
  }
  .mobile-menu-close-btn:hover,
  .mobile-menu-close-btn:focus {
    background-color: #404bbf;
    fill: white;
    border: none;
  }
  .mobile-nav-menu {
    padding-bottom: 168px;
  }
  .mobile-menu-item {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
padding-bottom: 40px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-item:hover,
  .mobile-menu-item:focus {
    color: #404bbf;
  }
    .mobile-address-item {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #434455;
margin-bottom: 24px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-address-item:hover,
  .mobile-address-item:focus {
    color: #4d5ae5;
  }
.mobile-address-item-tel {
   color: #4d5ae5; 
}
  .studio-lower-dash {
    color: #4d5ae5;
  }
  .mobile-icon-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }
  .mobile-icon-item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  .social-link {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #f4f4fd;
}
  .social-link:hover,
  .social-link:focus {
    background-color: #404bbf;
  }
  .team-icon-item:hover,
  .team-icon-item:focus {
    background-color: #404bbf;
  }
/* ============== /Mobile menu styles ============== */

/* ============== Backdrop section styles ============== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
}
/* ============== /Backdrop section styles ============== */

/* ============== Modal window section styles ============== */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 72px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  height: 623px;
}
.modal-close-btn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #422e2e;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;
  background-color: #e7e9fc;
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  fill: white;
  border: none;
}
.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
.modal {
  width: 408px;
  height: 584px;
    padding-right: 24px;
    padding-left: 24px;
}
}
/* ============== /Modal window section styles ============== */

/* ============== Form field section styles ============== */
.form-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.form-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
}
.form-input:focus {
  border-color: #4d5ae5;
  outline: transparent;
}
.form-field-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  display: block;
}
.form-field-wrapper {
  margin-bottom: 8px;
  }
  .form-field-wrapper-comment {
    margin-bottom: 16px;
  }
.form-field-input-wrapper {
  position: relative;
}
.form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .form-input-icon {
  fill: #4d5ae5;
}
.form-input-massage {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
}
.form-input-massage::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.form-input-massage:focus {
  border-color: #4d5ae5;
  outline: transparent;
}
.form-field-privacy-policy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.privacy-policy-link {
  line-height: 1.3;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.form-own-checkbox {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}
.form-input-privacy-checkbox:checked
  + .form-field-privacy-policy
  .form-own-checkbox {
  background-color: #404bbf;
  border-color: #404bbf;
  border: none;
  fill: #F4F4FD;
}
.form-field-checkbox-wrapper {
  margin-bottom: 24px;
}
.form-input-privacy-checkbox:focus
  + .form-field-privacy-policy
  .form-own-checkbox {
  border-color: #404bbf;
}
.form-submit-btn {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #ffffff;
  background: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-submit-btn:hover,
.form-submit-btn:focus {
  background-color: #404bbf;
}
/* ============== /Form field section styles ============== */

